* {
  font-family: 'Glory', sans-serif;
}

body {
  position: relative;
}

input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
  border-radius: 5px;
}

select {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
  border-radius: 5px;
}

select:hover {
  cursor: pointer;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

.date-input {
  width: 150px;
}

.date-input:hover {
  cursor: pointer;
}

.add-set-button {
  border-radius: 5px;
  background-color: #227cff;
  color: white;
}

.remove-set-button {
  border-radius: 5px;
  background-color: red;
  color: white;
}

.font-size-small {
  font-size: 1rem;
}

.flex-direction-column {
  flex-direction: column;
}

.text-decoration-none {
  text-decoration: none;
}

.justify-content-space-between {
  justify-content: space-between;
}

.nav-spacing {
  margin-left: 1.5rem;
}

.margin-left-4rem {
  margin-left: 4rem;
}

.margin-right-4rem {
  margin-right: 4rem;
}

.font-size-medium {
  font-size: 1.2rem;
}

.background-color-gray {
  background-color: rgb(53, 53, 53);
}

.color-gray {
  color: gray;
}

.header-height {
  height: 50px;
}

.padding-top-10 {
  padding-top: 10px;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.color-white {
  color: white;
}

.add-pr-button-font {
  font-weight: 800;
  font-size: large;
}

.color-red {
  color: red;
}

.font-weight-bold {
  font-weight: 800;
  font-style: italic;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.prs:nth-child(2n) {
  background-color: rgb(235, 234, 234);
}

.training-log:nth-child(odd) {
  background-color: rgb(235, 234, 234);
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  top: 10px;
  left: 10px;
}

.close-size {
  font-size: 1.5rem;
}

.input-width {
  width: 150px;
}

.button-width {
  width: 100px;
}

.button-width-150 {
  width: 150px;
}

.button-height {
  height: 35px;
}

.button-height-37 {
  height: 37px;
}

.border-radius-5 {
  border-radius: 5px;
}

.button-color-primary {
  background-color: #227cff;
  color: white;
}

.font-style-italic {
  font-style: italic;
}

.row {
  display: flex;
}

.width-100 {
  width: 100%;
}

.width-40 {
  width: 40%;
}

.width-30 {
  width: 30%;
}

.justify-content-center {
  justify-content: center;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.flex-basis-40 {
  flex-basis: 40%;
}

.border-bottom-lightgray {
  border-bottom: 1px solid lightgray;
}

.border-bottom-black {
  border-bottom: 3px solid black;
}

.column-half {
  flex-basis: 50%;
}

.text-align-center {
  text-align: center;
}

.height-34 {
  height: 34px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-right-20 {
  padding-right: 20px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  height: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 2px solid gray;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
  position: absolute;
  background-color: white;
  border-radius: 5px;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #227cff;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.overflow-scroll {
  overflow-y: auto;
}

.lds-spinner,
.lds-spinner div,
.lds-spinner div::after {
  box-sizing: border-box;
}

.lds-spinner {
  color: currentColor;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div::after {
  content: " ";
  display: block;
  position: absolute;
  top: 3.2px;
  left: 36.8px;
  width: 6.4px;
  height: 17.6px;
  border-radius: 20%;
  background: rgb(10, 82, 130);
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.spinner {
  position: fixed;
  top: 45%;
  left: 45%;
}

@media only screen and (max-width: 1101px) {
  .pr-width {
    width: 45%;
  }
}

@media only screen and (max-width: 979px) {
  .pr-width {
    width: 50%;
  }
}

@media only screen and (max-width: 881px) {
  .pr-width {
    width: 55%;
  }
}

@media only screen and (max-width: 801px) {
  .pr-width {
    width: 60%;
  }
}

@media only screen and (max-width: 734px) {
  .pr-width {
    width: 65%;
  }
}

@media only screen and (max-width: 730px) {
  .flex-basis-65 {
    flex-basis: 65%;
  }

  .width-55 {
    width: 55%;
  }
}

@media only screen and (max-width: 678px) {
  .pr-width {
    width: 70%;
  }
}

@media only screen and (max-width: 629px) {
  .pr-width {
    width: 75%;
  }
}

@media only screen and (max-width: 587px) {
  .pr-width {
    width: 80%;
  }

  .flex-basis-60 {
    flex-basis: 60%;
  }
}

@media only screen and (max-width: 551px) {
  .media-list-font-size {
    font-size: 0.98rem;
  }
}

@media only screen and (max-width: 584px) {
  .flex-basis-75 {
    flex-basis: 75%;
  }

  .width-75 {
    width: 75%;
  }
}

@media only screen and (max-width: 376px) {
  input {
    border: 1px solid #999;
    padding: 0.5rem;
    width: 250px;
    border-radius: 5px;
  }

  body {
    font-size: 0.8rem;
  }

  .media-list-font-size {
    font-size: 0.6rem;
  }

  .font-size-small {
    font-size: 0.57rem;
  }

  .flex-basis-70 {
    flex-basis: 70%;
  }

  .graph-button {
    width: 28%;
    font-weight: 800;
    font-size: 0.6rem;
  }

  .graph-input {
    width: 72%;
    padding-left: 2px;
    display: inline-block;
  }

  .button-font-size {
    font-size: 10px;
  }

  .add-pr-button-font {
    font-weight: 800;
    font-size: 15px;
  }

  .button-height-30 {
    display: inline-block;
    height: 30px;
  }

  .font-size-medium {
    font-size: 0.8rem;
  }

  .suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: calc(250px + 1rem);
    position: absolute;
    background-color: white;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 360px) {
  input {
    border: 1px solid #999;
    padding: 0.5rem;
    width: 250px;
    border-radius: 5px;
  }

  body {
    font-size: 0.8rem;
  }

  .column-half {
    flex-basis: 70%;
  }

  .graph-button {
    width: 28%;
    font-weight: 800;
    font-size: 0.6rem;
  }

  .graph-input {
    width: 72%;
    padding-left: 2px;
    display: inline-block;
  }

  .button-font-size {
    font-size: 10px;
  }

  .add-pr-button-font {
    font-weight: 800;
    font-size: 15px;
  }

  .suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: calc(250px + 1rem);
    position: absolute;
    background-color: white;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 411px) {
  input {
    border: 1px solid #999;
    padding: 0.5rem;
    width: 250px;
    border-radius: 5px;
  }

  body {
    font-size: 0.8rem;
  }

  .graph-button {
    width: 28%;
    font-weight: 800;
    font-size: 0.6rem;
  }

  .graph-input {
    width: 72%;
    padding-left: 2px;
    display: inline-block;
  }

  .button-font-size {
    font-size: 10px;
  }

  .add-pr-button-font {
    font-weight: 800;
    font-size: 15px;
  }

  .suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: calc(250px + 1rem);
    position: absolute;
    background-color: white;
    border-radius: 5px;
  }
}
