* {
  font-family: 'Glory', sans-serif;
}

body {
  position: relative;
}

input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
  border-radius: 5px;
}

select {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
  border-radius: 5px;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 500px;
}

a:hover {
  cursor: pointer;
}

.date-input {
  width: 150px;
}

.add-set-button {
  border-radius: 5px;
  background-color: #227cff;
  color: white;
}

.remove-set-button {
  border-radius: 5px;
  background-color: red;
  color: white;
}

.font-size {
  font-size: 16px;
}

.flex-direction-column {
  flex-direction: column;
}

.text-decoration-none {
  text-decoration: none;
}

.justify-content-space-between {
  justify-content: space-between;
}

.flex-basis-30 {
  flex-basis: 30%;
}

.flex-basis-20 {
  flex-basis: 25%;
}

.font-size-20 {
  font-size: 20px;
}

.background-color-gray {
  background-color: rgb(53, 53, 53);
}

.color-gray {
  color: gray;
}

.header-height {
  height: 50px;
}

.padding-top-10 {
  padding-top: 10px;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-center {
  align-content: center;
}

.color-white {
  color: white;
}

.add-pr-button-font {
  font-weight: 800;
  font-size: large;
}

.color-red {
  color: red;
}

.font-weight-bold {
  font-weight: 800;
  font-style: italic;
}

.container-table {
  width: 800px;
}

.text-align-right {
  text-align: right;
}

.justify-content-end {
  justify-content: flex-end;
}

.prs:nth-child(2n) {
  background-color: rgb(235, 234, 234);
}

.training-log:nth-child(odd) {
  background-color: rgb(235, 234, 234);
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  top: 10px;
  left: 10px;
}

.close-size {
  font-size: 1.5rem;
}

.input-width {
  width: 150px;
}

.button-width {
  width: 100px;
}

.button-width-150 {
  width: 150px;
}

.button-height {
  height: 35px;
}

.button-height-37 {
  height: 37px;
}

.border-radius-5 {
  border-radius: 5px;
}

.button-color-primary {
  background-color: #227cff;
  color: white;
}

.font-style-italic {
  font-style: italic;
}

.row {
  display: flex;
}

.width-100 {
  width: 100%;
}

.width-80 {
  width: 40%;
}

.justify-content-center {
  justify-content: center;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.column-15 {
  flex-basis: 15%;
}

.column-third {
  flex-basis: 40%;
}

.flex-basis {
  flex-basis: 7%;
}

.flex-basis-40 {
  flex-basis: 40%;
}

.border-bottom-lightgray {
  border-bottom: 1px solid lightgray;
}

.border-bottom-black {
  border-bottom: 3px solid black;
}

.column-half {
  flex-basis: 50%;
}

.text-align-center {
  text-align: center;
}

.margin-left {
  margin-left: 30px;
}

.height {
  height: 34px;
}

.padding-left-10 {
  padding-left: 10px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  height: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 2px solid gray;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
  position: absolute;
  background-color: white;
  border-radius: 5px;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #227cff;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.overflow-scroll {
  overflow-y: auto;
}

@media only screen and (max-width: 777px) {
  .flex-basis {
    flex-basis: 8%;
  }

  .column-15 {
    flex-basis: 15%;
  }
}

@media only screen and (max-width: 695px) {
  .flex-basis {
    flex-basis: 10%;
  }

  .column-15 {
    flex-basis: 20%;
  }
}

@media only screen and (max-width: 545px) {
  .flex-basis {
    flex-basis: 11%;
  }

  .column-15 {
    flex-basis: 25%;
  }
}

@media only screen and (max-width: 769px) {
  .flex-basis-20 {
    flex-basis: 35%;
  }
}

@media only screen and (max-width: 376px) {
  input {
    border: 1px solid #999;
    padding: 0.5rem;
    width: 250px;
    border-radius: 5px;
  }

  .font-size-10 {
    font-size: 15px;
  }

  .flex-basis-40 {
    flex-basis: 75%;
  }

  .flex-basis-30 {
    flex-basis: 50%;
  }

  .flex-basis-20 {
    flex-basis: 60%;
  }

  .flex-basis {
    flex-basis: 15%;
  }

  .column-15 {
    flex-basis: 30%;
  }

  .column-half {
    flex-basis: 70%;
  }

  .width-80 {
    width: 75%;
  }

  .graph-button {
    width: 28%;
  }

  .graph-input {
    width: 71%;
  }

  .button-font-size {
    font-size: 10px;
  }

  .add-pr-button-font {
    font-weight: 800;
    font-size: 12px;
  }

  .suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: calc(250px + 1rem);
    position: absolute;
    background-color: white;
    border-radius: 5px;
  }
}
